@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="home-container img-display">
    <div class="welcome">
        <h1>TechNova</h1>
        <h2>Pioneering Tomorrow's Lifestyle</h2>
    </div>
    <div class="about-text">
        <p>
            Welcome to TechNova, the premier destination where the future of technology becomes part of your present. At TechNova, we don't just sell products; we deliver experiences that were once confined to the realm of dreams and science fiction. Our carefully curated selection of gadgets and innovations is more than a glimpse into the future – it's a step into a new reality.
            <br /><br />
            From personal quantum computers that unlock new dimensions of processing power, to wearable tech that integrates with your daily life, every item in our store is a piece of tomorrow's puzzle. TechNova is committed to pioneering the path to the future, where technology serves humanity in ways we're just beginning to understand.
            <br /><br />
            Join us in this journey beyond the edge of possibility. TechNova isn't just about envisioning the future; it's about bringing it home.
        </p>
    </div>
</div>


@code {
    
}

